{% extends 'base.html' %}
{% load static %}

{% block content%}
<div class="row aboutus">
    <div class="h2 text-center">About <b style="color:red;">Us</b></div>

    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="font-family:sens;margin:20px;">
        Our Website is based on Commercial .We are the largest online market place with the widest million of product a cross several
        region with millon on user our website in shoping desstination or internet user a cross our country
TodayCart was founded on 10/09/2021 as a daily deals platform, and expanded in September 2021
        to become an online marketplace. TodayCart has grown to become one of the largest online marketplace
        in India. TodayCart’s focus is on the value ecommerce segment - a market that is three times larger than
        the size of the branded goods market. Sellers on TodayCart offer good quality (local / regional / seller
        branded)  merchandise, that offers customers value-for-money options, similar to what would sell in local
        markets and high streets in a city. Fashion, home and general merchandise account for a majority of the products
        sold by more than independent sellers on TodayCart platform. Buyers from more than  towns across
        India—accounting for 92% of India’s total 4,000 towns and cities—shop on TodayCart.

    </div>
    <div class="col-sm-2"></div>
    <!--end -->
{% endblock%}
