{% extends 'base.html' %}
{% load static %}

{% block content %}
<!------------start slider-------->
<div class="row slider">
    <div class="col-sm-12">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/s1.jpg' %}" style="max-height:400px" class="d-block w-100"
                         alt="...">
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/banner-2.jpg' %}" style="max-height:400px" class="d-block w-100"
                         alt="...">
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/banner-3.jpg' %}" style="max-height:400px" class="d-block w-100"
                         alt="...">
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<!------------end slider-------->

<!------------start category-------->
<div class="row category" style="background:whitesmoke;">
    <h1 class="text-center">Our <b style="color:red;">Category</b></h1>
    <div class="col-sm-1"></div>
    <div class="col-sm-10 my-4">
        <div class="row">
            {% if data %}
            {% for x in data %}
            <div class="col-sm-2">
                <div class="row">
                    <div class="col-sm-12 border p-2 " style="height:250px;">
                        <img src="/{{x.cpic}}" height="200" width="170">
                        <h6 class=" text-center fs-5 py-1">{{x.cname}}</h6>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}

        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<!------------end category-------->

<!------------start newproduct-------->
<div class="row newproduct py-3 bg-warning">
    <div class="h3 text-center">Our <b class="text-light">New Product<i class="fa-product-hunt"></i></b></div>
    {% if products %}
    {% for x in products %}
    <div class="col-sm-2">
        <div class="card w-100">
            <img src="/{{x.ppic}}" height="200" class="card-img-top" alt="Abhi Lagana Hai">
            <div class="card-body">
                <h5 class="card-title">{{x.category}}</h5>
                <p class="fs-4">{{x.name}}</p>
                <div style="height:15px;width:15px;border-radius:3px;background:{{x.color}};"></div>
                <b>Rs. </b> <s class="text-danger">{{x.tprice}}/</s> {{x.disprice}}/<br/>
                <a href="/user/viewdetails?msg={{x.id}}" class="btn btn-outline-success rounded">Detels</a>
                <a href="/user/process?pid={{x.id}}&bn=cart" target="_blank" class="btn btn-success rounded"><i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 offer my-5 text-primary">
        <div class="row">
            <div class="col-sm-4">
                <b>01.</b>
                <div class="fs-3 text-dark fw-bold">Sparrial Crystal</div>
                <p id="p">Cards support a wide variety of content, including images, text, list groups, links, and more. Below
                    are examples of whats supported.</p>
                <b>02.</b>
                <div class="fs-3 text-dark fw-bold">Blancpain</div>
                <p id="p">It is best known for its Fifty Fathoms diving watch introduced in 1953 and its 1735 Grande
                    Complication wristwatch introduced in 1991</p>

            </div>
            <div class="col-sm-4">
                <img src="{% static 'images/watch.png' %}" style="min-height:350px" class="img-fluid text-center"/>
            </div>
            <div class="col-sm-4">
                <b>03.</b>
                <div class="fs-3 text-dark fw-bold">Rolex</div>
                <p id="p">Wearing a Rolex watch enables entry into a world of unlimited possibilities.
                    Rolex's story began when founder Hans Wilsdorf created the first waterproof wristwatch
                    .</p>
                <b>04.</b>
                <div class="fs-3 text-dark fw-bold">Omega.</div>
                <p id="p">The Omega Seamaster is a line of manual winding, automatic winding, chronometer, and quartz watches that Omega has produced since 1948.
                    The Seamaster was worn in the James Bond movie franchise since 1995</p>

            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>

<!------------end newproduct-------->
<!------------start services-------->
<div class="row services">
    <div class="col-sm-6 px-5">
        <h2><b>Services</b></h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic</p>
        <br/>
    </div>
    <div class="col-sm-6">
        <img src="{% static 'images/img2.jpg' %}" class="img-fluid" style="height:300px;width:100%"/>
    </div>
</div>

{% endblock %}