{% extends 'base.html' %}
{% load static %}

{% block content%}
<div class="container">
    <h1 class="text-center">Our <b style="color:red;">Services</b></h1>
    <div class="row bg-light" style="min-height:100px; padding:25px;">

        <div class="col-sm-4 p-2">
            <i class="fa fa-truck fs-2"></i>
            <div class="jitendra">
            <h2 class="fs-4">Fast Delivery</h2>
            <p class="fs-6">Editing, Done Right. Effortlessly Split Panes and Navigate Between Code With the new Tab Multi
                -Select functionality, tabs become first-class citizens in the interface.</p>
            </div>
        </div>
        <div class="col-sm-4 p-2">
            <i class="fa fa-gift fs-2"></i>
             <h2 class="fs-4">Packing Services</h2>
             <p class="fs-6">Editing, Done Right. Effortlessly Split Panes and Navigate Between Code With the new Tab Multi
                -Select functionality, tabs become first-class citizens in the interface.</p>
        </div>
        <div class="col-sm-4 p-2">
            <i class="fa fa-home fs-2"></i>
             <h2 class="fs-4">Home Delivery</h2>
             <p class="fs-6">Editing, Done Right. Effortlessly Split Panes and Navigate Between Code With the new Tab Multi
                -Select functionality, tabs become first-class citizens in the interface.</p>
        </div>
    </div>
</div>
{% endblock%}
